


<br><br>
<ul class="nav nav-tabs">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle  >All Categories</mat-button-toggle>
    <mat-button-toggle *ngFor="let cat of categoriesList " (click)="GetAllProductByCatId(cat.Id)">{{cat.Name}}</mat-button-toggle>
  </mat-button-toggle-group>
</ul>


<!-- <mat-tab-group mat-align-tabs="start">
  <mat-tab label="All Categories" (click)="GetAllProductByCatId(0)">All Categories </mat-tab>

  <mat-tab *ngFor="let cat of categoriesList " (selectedTabChange)="GetAllProductByCatId(cat.Id)" [label]="cat.Name">{{cat.Name}} -->

<div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">

            <div class="el-wrapper" *ngFor="let product of productsList" >
              <div class="box-up">
                <img class="img" [src]="product.Image" alt="" style="width:100%;height:100%;">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">{{product.Description}}</span>
                    <span class="p-company">{{product.Name}}</span>
                  </div>
                 
                </div>
              </div>
      
              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>
      
                <a class="cart" routerLink="/Products/{{product.Id}}" >
                  <span class="price">{{product.Price|currency}}</span>
                  <span class="add-to-cart">
                    <span class="txt">Details</span>
                  </span>
                </a>
              </div>
            </div>

            

          </div>
        </div>
      </div>

    <!-- </mat-tab>
 
  </mat-tab-group>       -->