
<div class="image-aboutus-banner c" style="margin-top:70px">
    <div class="container">
         <div class="row">
             <div class="col-md-12">
              <h1 class="lg-text">About Us</h1>
              <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
             
            
          


              <mat-nav-list>
                <mat-list-item >Hello in SM-Souq</mat-list-item>
                <mat-list-item > <p> Made By :Aly Salah.</p></mat-list-item>
                <mat-list-item > <p> Full stack .net developer ITI</p></mat-list-item>
                <mat-list-item >  <p>Copy rights @AlySalah 01121145856 </p></mat-list-item>

              </mat-nav-list>

            </div>
         </div>
     </div>


</div>